body{

    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
/* Хедер */
.logoweb{

    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}
.logo{

    color: #4d5ae5;  
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 24px;
    font-family: "Raleway", sans-serif;
}
.menu-header{
    margin-bottom: 24px;
    list-style-type: none;
}

.contacts{
    margin-left: 332px;
    margin-top: 24px;
    margin-bottom: 24px;
    list-style-type: none;
}
/* Секция 1 */
.sec-1{

    text-align: center;
    background-color:#2e2f42 ;
}
.title-sec-1{
text-align: center;
font-size: 56px;
font-weight: 700;
color: white;
margin:0;
margin-right: auto;
margin-left: auto;
}
.button-sec-1{
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: white;
margin-right: auto;
margin-left: auto;
margin-top:48px ;
margin-bottom: 0;
background-color: #4d5ae5;
border: 0;
}
.button-sec-1:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    margin-bottom: 0;
    background-color: #404bbf;
    border: 0;
}
