body{

    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
/* Хедер */
.logoweb{

    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo{

    color: #4d5ae5;  
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.contacts{

    font-style: normal
}
.adress-mail{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-mail:hover{
    color: #404bbf;
}

.menu-li-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-li-1:hover {
    color: #404bbf;
}

.menu-li-1:focus {
    color: #404bbf;
}
.menu-li-1:focus{
    color: #404bbf;
}

/* Секция 1 */
.sec-hed{

    text-align: center;
    background-color:#2e2f42 ;
}
.title-sec{
text-align: center;
font-size: 56px;
font-weight: 700;
color: white;
margin:0;
margin-right: auto;
margin-left: auto;
}
.button-sec{
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: white;
margin-right: auto;
margin-left: auto;
margin-top:48px ;
margin-bottom: 0;
background-color: #4d5ae5;
border: 0;
}
.button-sec-1:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    margin-bottom: 0;
    background-color: #404bbf;
    border: 0;
}

